.title-group-delete {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
        font-weight: bold;
        font-size: 18px;
    }    
    .title-close {
        .button-close {
            cursor: pointer;
        }
    }
}
.delete-content {
    .delete-text {
        text-align: center;
        height: 60px;
        font-size: 14px;
        padding-top: 10px;
    }
    .form-button-group {
        .form-buttons {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .button-delete {
                margin-left: 10px;
            }
        }
    }
}