.div-menu {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #e5e5ea;
    width: 256px;
    height: 100%;
    font-family: ProximaNova;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #1c1c1e;
}