.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .form-buttons {
    .buttonSave {
      margin-left: 10px;
    }
  }
}
.form-title-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .form-title {
    font-size: 26px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: -0.58px;
    color: #000000;    
  }
  .form-title-close {
    width: 24px;
    height: 24px;
    margin: 0 0 48px 400px;
    object-fit: contain;
    .button-close {
      cursor: pointer;
    }
  }
}

.btn-edit {
  margin-right: 5px;
}
