.toolbar-table {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f7fc;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 4px;
    .title {
        h6 {
            font-weight: bold;
            font-size: 22px;
        }
    }    
}